.signup , .login{
    text-align: start;
    width: 400px;
    margin: auto;
}
.logo {
    text-align: center;
}
.logo img{
    height: 150px !important;
    width: auto !important;
}
.signup form , .login form{
    margin: 10px;
}

.input-fields{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.input-fields label{
    font-size: 18px;
    font-weight: bold;
    padding-left: 3px;
    padding-bottom: 3px;
}
.input-fields input{
    height: 20px;
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 6px;
}

.input-fields p{
    color: red;
    margin: 1px 5px;
}
.login-click{
    font-size: 17px;
    padding: 2px 3px;
    margin-top: 4px;
}
.register{
    width: 100%;
    margin-top: 17px;
    height: 31px;
    background: #d3c2d9;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.user-exixts{
    background-color: lightskyblue;
    padding: 3px 2px;
    text-align: center;
    color: red;
    font-size: 21px;
    font-family: monospace;
}

@media (max-width:768px) {
    .signup , .login{
        text-align: start;
        width: 100%;
        margin: auto;
    }
}